ul li {display: inline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.114rem;
    font-weight: bold;
    max-width: 19rem;
    text-align: center;
    margin: 1rem 0.789rem ;
    padding:3rem 0;}
.title{font-size: 1.287rem;
font-weight: bolder;
text-decoration:underline ;}
button{height: 3rem;
width:5rem;
font-size: 0.945rem;
color: blueviolet;
}
button:hover{background-color: blueviolet;
color: #fff;
cursor: pointer;
box-shadow: 0 0 3rem 0 rgb(92, 88, 88);}